:root {
  --main-bg-color: #1f1f1f;
  --second-bg-color: #1e75ff;
}

body {
  background-color: var(--main-bg-color);
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: #1e75ff;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}


.colorpicker {
 display: flex;
 flex-direction: row;
}

.center {
  margin: auto;
  width: 80%;
  display: flex;
  margin-bottom: 0;
}

.center:last-of-type {
  margin-bottom: 150px;
}

.center svg {
  width: 100px;
  height: auto;
  margin-top: 60px;
  color: var(--main-bg-color);
  transition: .5s;
  cursor: pointer;
}

#onOff {
  transition: .5s;
  background-color: var(--main-bg-color);
  border: none;
  outline: none;
}

.color {
  width: 38px;
  height: 38px;
  border: 1px solid #707070;
  border-radius: 8px;
  margin: 5px;
  -webkit-box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
  -moz-box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
  box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
  cursor: pointer;
}

.effect {
  width: 90px;
  height: 38px;
  border: 1px solid #707070;
  border-radius: 8px;
  margin: 2px;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main-bg-color);
  outline: none;

}

.effect:first-of-type {
  margin-top: -20px;
}

.effect:last-of-type {
  margin-top: -20px;
}

.quatro {
  height: 100px !important;
  width: 100px !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.quatro:first-of-type {
  margin-top: -20px;
}

.quatro:last-of-type {
  margin-top: -20px;
}

.slidecontainer {
    width: 300px;
    margin: auto;
}

.slider {
    -webkit-appearance: none;
    width: 300px;
    height: 1px;
    background: #707070;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 8px;
    -webkit-box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
    box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #707070;
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
    box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    transition: 1s;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #707070;
    cursor: pointer;
    border-radius: 10px;
    -webkit-box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
    box-shadow: 6px 15px 20px 2px rgba(0,0,0,0.4);
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab;
    transition: 1s;
}

.slider::-webkit-slider-thumb:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -o-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
    transform: scale(1.5) ;
    transition: 1s;
}



.colorpicker {
  margin: auto;
  margin-top: 60px;
}

.effectpicker {
  margin: auto;
}
